@import url('https://fonts.googleapis.com/css?family=Caveat+Brush&display=swap');

body {
    overflow-x: hidden;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.animal-card .card {
    padding-top: 80px;
    padding-bottom: 60px;
    border: none;
}

.animal-card .card h3 {
    font-family: 'Caveat Brush', cursive;
}

.animal-card h3:hover {
    font-size: 30px;
}

.depoimento-card .card {
    margin-bottom: 40px;
}

.divider h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: grey;   
}

hr {
    border: 0;
    border-top: 2px solid rgba(0, 0, 0,.1);
    }

.featurette-divider-depoiment {
   width: 85%;
   margin: -15px 0 60px auto;
}

.featurette-divider-partner {
    width: 88%;
    margin: -15px 0 60px auto; 
}

.list-unstyled img {
    padding: 10px;
}

.height-ong {
    min-height: 600px;
}

/* PAGINA ONG */

.ong h2, h3 {
    font-family: 'Caveat Brush', cursive;
}

@media (max-width: 460px) {
    .card-patas {
        flex-direction: row;
    }
    .card-img-top {
        width: 200px;
    }
    .list-unstyled {
        display: flex;
        justify-content: center;
    }
    .list-unstyled img {
        padding: 15px;
    }
    .height-ong {
        min-height: 400px;
    }
}