@import url('https://fonts.googleapis.com/css?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');


body {
    overflow-x: hidden;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.carousel-caption h2 {
    color: #fbda6f;
    font-family: 'Caveat Brush', cursive;
    font-size: 50px;
}
.carousel-caption button {
    background: #fbda6f;
    border-radius: 70px;
    padding: 10px 15px;
}

.animal-card .card {
    padding-top: 80px;
    padding-bottom: 60px;
    border: none;
}

.animal-card .card h3 {
    font-family: 'Caveat Brush', cursive;
}

.animal-card h3:hover {
    font-size: 30px;
}

.depoimento-card .card {
    margin-bottom: 40px;
}

.divider h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: grey;   
}

hr {
    border: 0;
    border-top: 2px solid rgba(0, 0, 0,.1);
    }

.featurette-divider-depoiment {
   width: 85%;
   margin: -15px 0 60px auto;
}

.featurette-divider-partner {
    width: 88%;
    margin: -15px 0 60px auto; 
}

p, h6 {
    font-family: 'Dosis', serif;
}

h2, h3 {
    font-family: 'Caveat Brush', cursive;
}

.list-unstyled img {
    padding: 10px;
}

/* PÁGINAS */

.height-ong {
    min-height: 600px;
}

.height-ong h2 {
    padding-top: 20px;
}

.height-ong p {
    font-size: 22px;
    padding: 30px 0;
}

.height-contato h2 {
    padding-top: 20px;
}

.height-contato p {
    font-size: 22px;
    padding: 15px 0;
}

.footer-copyright a {
    color: white;
}



/* MEDIA */
@media (max-width: 460px) {
    .featurette-divider-depoiment {
        width: 50%;
        margin: -15px 0 60px auto;
     }
     
     .featurette-divider-partner {
         width: 60%;
         margin: -15px 0 60px auto; 
     }

    .card-patas {
        flex-direction: row;
        max-width: 100%;
    }
    .img-patas {
        width: 150px;
    }
    
    .list-unstyled {
        display: flex;
        justify-content: center;
    }
    .list-unstyled img {
        padding: 15px;
    }
    .height-ong {
        min-height: 400px;
    }
}